@media (max-width: 991px){
    .carousel{
        margin:0 20px;
    }
    .header{
        margin: 0 15px;
    }
    .promo{
        &__wraper{
            margin: 0 15px;
        }
    }
    .title{
        &_left{
            margin: 0 15px;
        }
    }
    .consultation{
        &__desc{
            margin-left: 15px;
        }
    }
    .feed-form{
        margin-left: 15px;
    }

}

@media(max-width: 767px){
    .promo{
        min-height: 450px;
        padding: 21px 0 60px 0;

        &__header{
            font-size: 30px;
            margin-top: 60px;
        }
        &__subheader{
            font-size: 17px;
        }
        &__icons{
            margin-top: 50px;
            width: 310px;
        }
        &__icon{
            font-size: 12px;
        }
        &__link{
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .header{
        &__logo{
            width: 150px;
        }
        &__phone{
            font-size: 15px;
        }
        &__oficial{
            font-size: 12px;
        }
    }
    .button{
        width: 140px;
        height: 25px;

        &_main{
            font-size: 14px;
            width: 230px;
            height: 40px;
        }
        
        &_submit{
            width: 100%;
            height: 55px;
        }
    }

    .advantages{
        padding: 40px 0;
        min-height: 400px;
        .title{
            margin: 0;
        }
        &__items{
            margin-top: 35px;
        }
        &__item{
            width: 180px;
            padding: 0 6px;
        }
        &__text{
            font-size: 15px;
        }
        &__subtext{
            font-size: 13px;
        }
    }

    .consultation{
        padding: 70px 0 90px 0;
        min-height: 500px;

        .title{
            &_left {
                font-size: 30px;
            }
        }

        &__desc{
            margin-top: 50px;
        }
    }

    .catalog{
        &__tabs{
            flex-direction: column;
            margin-top: 30px;
        }
        &__tab{
            margin-top: 10px;
            margin-right: 0;
        }
    }
    .carousel{
        &__inner{
            width: 100%;
        }
    }
    .review{
        padding: 0 30px 70px 30px;
        .title{
            margin-bottom: 50px;
        }
        &__item{
            flex-direction: column;
        }
        &__text{
            text-align: center;
            margin-top: 30px;
        }
        &__img{
            margin-right: 0;
        }
    }
}

@media(max-width: 525px){

    .button{
        &_none{
            width: 100px;
            height: 16px;
            font-size: 9px;
            margin-top: 3px;
        }

        &_main{
            margin-top: 30px;
        }
    }

    .header{
        justify-content: space-around;
        
        &__logo{
            width: 270px;
        }
        &_logonone{
            display: none;
        }

        &__oficial{
            margin: 0;
            font-size: 10px;
            span{
                font-size: 15px;
                margin-top: 4px;
            }
        }

        &__phone{
            font-size: 12px;
            // margin-top: 10px;
        }
    }

    .promo{
        padding: 21px 0 40px 0;
        min-height: auto;
        &__wraper{
            align-items: center;    
        }
        &__header{
            text-align: center;
            font-size: 23px;
            margin-top: 30px;
        }

        &__subheader{
            margin-top: 5px;
            font-size: 13px;
        }

        &__icons{
            width: 100%;
            margin-top: 30px;
        }

        &__icon{
            width: 100%;
            font-size: 11px;
            margin-right: 5px;
            &:nth-child(3){
                margin-right: 0;
            }
        }
    }

    .title{
        font-size: 23px;
    }

    .advantages{
        padding: 30px 0;
        min-height: 400px;
        &__items{
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &_none{
            display: none;
        }
        &__items{
            margin-top: 0;
        }
        &__item{
            margin-top: 20px;
        }
        &__text{
            margin-top: 10px;
        }
    }
    .consultation{
        padding: 40px 15px 60px 15px;
        min-height: 400px;

        .title{
            &_left {
                font-size: 18px;
                text-align: center;
            }
        }

        &__desc{
            margin: 30px 15px 0 15px;
            text-align: center;
            font-size: 14px;
        }
    }

    .feed-form{
        margin: 0 auto;
        margin-top: 30px;
        width: 270px;
        input{
            width: auto;
        }
    }
    .footer{
        &__info{
            width: 300px;
            height: 180px;
            padding: 25px 0 25px 0;
        }
        &__addr{
            font-size: 17px;
        }
        &__phone{
            margin-top: 0;
        }
        &__social{
            margin-top: 20px;
        }
    }
    .modal{
        width: 300px;
        min-height: 207px;
        padding: 20px;
        &__close{
            top: 9px;
            right: 0px;
            font-size: 60px;
        }
    }
    .feed-form{
        width: 100%;
    }
}