.catalog{
    padding-bottom: 100px;
    &__tabs{
        margin: 0;
        padding: 0;
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__tab{
        &:nth-child(3){
            margin-right: 0;
        }
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        margin-right: 10px;
        width: 220px;
        height: 50px;
        border: 2.0px solid #d0d0d0;
        font-family: MuseoSansCyrl 500;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #6b6b6b;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        div{
            transform: skewX(25deg);
        }
        &_active{
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }

    &__content{
        margin-top: 60px;
        display: none;
        justify-content: space-around;
        flex-wrap: wrap;
        &_active{
            display: flex ;
        }
    }

    &-item{
        width: 300px;
        min-height: 440px;
        border: 2.0px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img{
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle{
            font-size: 16px;
            font-weight: 700;
            color: #0d0d0d;
            margin-top: 20px;
            text-align: center;
        }
        &__descr{
            font-size: 14px;
            font-weight: 300;
            color: #0d0d0d;
            text-align: center;
            margin-top: 16px;
        }
        &__link{
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            color: #c70101;
            margin-top: 17px;
            text-align: center;
            &:hover{
                color: $main-color;
            }
        }

        hr{
            margin-top: 19px;
            margin-bottom: 21px;
            height: 1px;
            background-color: #e8e8e8;
            border-bottom: none;
        }

        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price{
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
        }
        &__price{
            font-size: 20px;
            font-weight: 700;
            color: #050505;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active{
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list{
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active{
                transform: translateX(-100%);
                margin-left: 0px;
            }
            ul{
                li{
                    position: relative;
                    font-size: 14px;
                    font-weight: 300;
                    color: #555555;
                    margin-bottom: 20px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: -14px;
                        top: 7px;
                        width: 5px;
                        height: 5px;
                        background-color: #c70101;
                    }
                }
            }
        }
        &__back{
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            color: #c70101;
            text-align: center;
            display: block;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            &:hover{
                color: $main-color
            }
        }
    }

}