.consultation{
    min-height: 680px;
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    padding: 100px 0 92px 0;

    &__desc{
        margin-top: 80px;
        font-family: MuseoSansCyrl 500;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }
    .error{
        border: 1px solid red;
    }
    label.error{
        text-align: center;
        border: none;
        color: rgb(255, 255, 255);
        margin-bottom: 15px;
    }
}